@font-face {
  font-family: Galmuri14;
  src: url(https://dl.dropbox.com/s/vsjf4lchbdr1sxm/Galmuri14.ttf);
}

body {
  background-blend-mode: overlay;
  margin: 0;
  background: linear-gradient(270deg, #e6dbf0, #cfe7fc, #bde7ec, #edf9e1);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
  
h1 {
    text-align:center;
    font-size: 1em;
    color:white;
    font-family: "Poppins";
    z-index: -1;
    line-height: 0%;
}  

p {
    color: #888888;
    font-family: "Galmuri14";
}
  