body {
    margin: 0;
    background-color: #f2f2f2;
 }

 
 h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: "Angelface";
    z-index: -1;
    line-height: 0%;
 }
  
  p {
    font-family: "Galmuri14";
} 

  .sidebar {  
  padding: 1%;
  z-index:98;
  position: fixed;
  display:inline-block;
  top:5vh;
  left: 48px;
  width:18%;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  border-left: 1px solid #e8e6e7;  
  border-right: 1px solid #e8e6e7; 
  background-repeat: repeat;
  color: white;
  text-align: center;
  vertical-align:middle;
  height: 90vh;
  padding-top:15px;
  padding-bottom:5px;
} 

.sidebar-img {
  background-color: #fff;
  margin: auto;
  height: 200px;
  text-align: center;
  width: 200px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.sidebar-button {
  padding: 0.5em 1em;
  border: 1px solid #d0c3e6; 
  border-radius: 20px;
  color: #d0c3e6;
  background:rgba(208, 195, 230, 0.5);
  backdrop-filter: blur(10px);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.6em;
  width: 100%
  text-align: left;
  position: relative;
  transition-duration: .3s;
  transition-property: transform;
}

.sidebar-button:hover {
  transform: scale(1.1) rotate(4deg);
 }