@font-face {
    font-family: Galmuri14;
    src: url(https://dl.dropbox.com/s/vsjf4lchbdr1sxm/Galmuri14.ttf);
}

body {
    background:  linear-gradient(180deg, rgba(200,222,255,1) 35%, rgba(230,240,255,1) 65%, rgba(255,255,255,1) 100%);
    box-shadow: inset 0px 5px 15px white;
 }

    .header {
        background-color: #F1F1F1;
        text-align: center;
        padding: 20px;
      }

h1 {
    color: #97bbf9;
    font-size: 3em;
    text-align: center;
 } 
 
 p {
    font-family: Galmuri14;
    font-size: 2em;
    color: #888888;
 }